<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="static/styles.css">
    <meta charset="utf-8">
    <title>Angela's Personal Site</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
    <table cellspacing="20">
      <tr>
        <td><img src="static/image_one.jpg" alt="example profile picture" width="200"></td>
        <td><h1>The Man</h1>
        <p><em>Founder and CTO of <strong><a href="https://www.">The App </a></strong>.</em></p>
        <p>Watching football.</p>.</p></td>
      </tr>
    </table>
    <hr>
    <h3>Books</h3>
    <ul>
      <li>Book One </li>
      <li>Book Two</li>
    </ul>
    <hr>
    <h3>Work Experience</h3>
    <table cellspacing="10">
      <thead>
        <tr>
          <th>Dates</th>
          <th>Work</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2009-2010</td>
          <td>Did stuff</td>
        </tr>
        <tr>
          <td>2010-2011</td>
          <td>Did Other Stuff</td>
        </tr>
        <tr>
          <td>2011-2012</td>
          <td>Did More Stuff</td>
        </tr>
      </tbody>
    </table>
    <hr>
    <h3>Skills</h3>
    <table cellspacing="10">
      <tr>
        <td>iOS Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Web Development</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
       <tr>
        <td>Programming</td>
        <td>⭐️⭐️⭐️⭐️⭐️</td>
      </tr>
      <tr>
        <td>Photography</td>
        <td>⭐️⭐️</td>
      </tr>
    </table>
    <hr>
    <a href="hobbies.html">My Hobbies</a>
    <a href="contact-me.html">Contact Me</a>
  </body>
</html>
